{% extends "inicio.html" %}

{% block content %}
    <div class="container col-lg-12">
        <div >
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <div class="card align-items-center">
                    <form >
                        <h3 class="text-center text-primary"> Ingrese su usuario y contraseña</h3>
                            </br></br>
                        <div c>
                            <input type="text" class="form-control " placeholder="Nombre de usuario">
                        </div>
                            </br></br>
                        <div >
                        <input type="password" class="form-control" placeholder="Password">
                        </div>
                            </br></br>
                        <div class="col-6">
                             <input type="submit" class="btn btn-primary" value="Ingresar" href="#">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<footer class="mt-auto text-white-50">
        <p>Sitio Web creado por el Grupo 1 del curso de Programacion Web Ciclo 2021.
</footer>
{% endblock %}


