{% extends "inicio.html" %}
{% block content %}
    <style>

form { margin:0  auto;
		width:750px;
}

</style>
    <div >
        <div >
            <div >
                <h3 class="text-center text-primary"> Registrarse</h3>
                </br>
                <form >
                    <div class="row g-3 ">
                        <div class=" col-md-10">
                            <label for="exampleInputEmail1 align-items-center">
                                Correo Electronico
                            </label>
                            </br></br>
                            <input type="email" class="form-control"/>
                        </div>
                    </div>
                    </br>
                    <div class="row g-3 ">
                        <div class="col-md-10">
                            <label for="exampleInputPassword1">
                                Nombre de usuario
                            </label>
                            </br></br>
                            <input type="text" class="form-control" id="exampleInputPassword1"/>
                        </div>
                    </div>
                    </br>
                    <div class="row g-3 ">
                        <div class="col-md-10">
                            <label for="exampleInputPassword1">
                                Contraseña
                            </label>
                            </br></br>
                            <input type="password" class="form-control" id="exampleInputPassword1"/>
                        </div>
                    </div>
                    </br>
                    <div class="row g-3 ">
                        <div class="col-md-10">
                            <label for="exampleInputPassword1">
                                Repita su Contraseña
                            </label>
                            <input type="password" class="form-control" id="exampleInputPassword1"/>
                        </div>
                    </div>
                    </br>
                    <button type="submit" class="btn btn-primary">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <footer class="mt-auto text-white-50">
        <p>Sitio Web creado por el Grupo 1 del curso de Programacion Web Ciclo 2021.
    </footer>
{% endblock %}
